@tailwind base;
@tailwind components;
@tailwind utilities;

.cardImage {
  width: auto;
  height: auto;
  max-height: 275px;
  }

  .fontSize {
    font-size: 18px;
  }

  /* #root {
    background-color: rgb(17 24 39);
  } */

  li a.active {
    font-weight: bold;
    color: blue;
  }
